/DirectXGame_Tut48 2/.vs
/DirectXGame_Tut48 2/DirectXGame/x64/Debug
/DirectXGame_Tut48 2/DirectXGame/x64/Debug
/DirectXGame_Tut48 2/DirectXGame/x64
/DirectXGame_Tut48 2/x64
/DirectXGame_Tut48 2/DirectXGame
/DirectXGame_Tut48 2/.cpptest
/DirectXGame_Tut48 2/.parasoft.dat