/DirectXGame_/.vs
/DirectXGame_/DirectXGame/x64/Debug
/DirectXGame_/DirectXGame/x64/Debug
/DirectXGame_/DirectXGame/x64
/DirectXGame_/x64
/DirectXGame_/DirectXGame
/DirectXGame_/.cpptest
/DirectXGame_/.parasoft.dat